# builds
/dist/

# generated documentation
docs/

# pyenv-stuff, cache, VS code, ...
.python-version
__pycache__/
/.vscode/

# connection details for testing
cred.py

# old script while porting:
/ome_hrm.py

# local configuration for manual testing:
/hrm.conf
