# builds
/dist/

# generated documentation
docs/

# pyenv-stuff, cache, VS code, ...
.python-version
__pycache__/
/.vscode/
*.code-workspace
/.coverage
/htmlcov/
/requests-cache/

# connection details for testing
/tests/online/settings/site_specific*.py
/tests/online/settings/site_specific*.yml

# local configuration for manual testing:
/hrm.conf
