# builds
/dist/

# generated documentation
docs/

# pyenv-stuff, cache, VS code, ...
.python-version
__pycache__/
/.vscode/
*.code-workspace
/.coverage
/htmlcov/

# connection details for testing
cred.py
/omero_test_settings.py

# old script while porting:
/ome_hrm.py

# local configuration for manual testing:
/hrm.conf
